body{
    background-color: rgb(235, 235, 235);
    color: rgb(38, 38, 38);
}
.caja1{
    background-color: rgb(99, 157, 157);
    width: 100px;
    height: 100px;
    padding: 30px;
    border: 3px solid black;
    box-sizing: border-box;
    font-size: 40px;
    overflow: visible;
}
.caja2{
    background-color: rgb(106, 75, 37);
    width: 150px;
    height: 150px;
    padding: 30px;
    border: 3px solid black;
    box-sizing: border-box;
    font-size: 40px;
    overflow: visible;
    margin: 40px;
}
.caja3{
    background-color: rgb(179, 167, 154);
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 30px;
    border: 3px solid black;
    box-sizing: border-box;
    font-size: 40px;
    overflow: visible;
    margin: 15px;
}
.flex-container{
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px;
    padding: 50px;
    border:  3px solid black;
    /* flex-wrap: wrap; */

}

header{
    background-color: rgb(17, 17, 17);
    color: white;
    text-align: center;
    padding: 30px;
    border: 3px solid black;
    margin: 0px;
}
.nav-container{
    background-color: rgb(17, 17, 17);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding: 2px; 
    border: 3px solid rgb(248, 239, 239); */
    margin: 0px;
}

.item-nav{
    background-color: rgb(52, 50, 47);
    color: white;
    padding: 30px;
    border: 3px solid black;
    margin: 0px;
}
ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}